.app-header-logo {
  font-size: 20px;
  color: #fff;
  font-weight: 500;

  b {
    font-weight: 800;
  }
}

.app-landing-hero {
  h1 {
    font-size: 50px;
    font-weight: 800;
  }

  h2 {
    font-size: 30px;
    font-weight: 400;
  }
}